*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    max-width: 100vW;
    line-height: 1.5;  
}

image.gradient{
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0.5;
   z-index: -1;
   text-decoration: none;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 10px rgba(206, 195, 202, 0.731);
    rotate: -30deg;
    z-index: -1;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 999;
}

.logo{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;

}

nav{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
    color: inherit;
}
nav a:hover{
    color: rgb(249, 240, 62);
}

.contect{
    background-color: beige;
    color: black;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
}

.contect:hover{
    background-color: gray;
    color: beige
}
.contect a:hover{
    color: beige;
}
hr{
    border: 0;
    height: 2px;
    background: #333;
    margin: 0 2rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}
.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}
.heading{
   position: absolute;
   width: 18rem;
   height: 2.5rem;
   border-radius: 50px;
   background-color: linear-gradient(to right,#007bff, red, #cce5ff, #66b2ff,#007bff);
   background-size: 200%;
   animation: animateGradient 2.3s linear infinite;
   box-shadow: 0 0 15px gray;
}
@keyframes animateGradient{
    
    to{
        background-position: 200%;
    }
}
.intro{
    position: absolute;
    background-color: black;
    font-weight: 500;
    inset: 3px 3px 3px 3px ;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.project{
    position: absolute;
    top: 5rem;
    background-color: black;
    font-weight: 500;
    inset: 3px 3px 3px 3px ;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}


